@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-primary text-base font-normal bg-primary text-white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  input,
  button {
    @apply outline-none;
  }
}

a {
  @apply no-underline text-inherit;
}

img {
  @apply w-full h-full max-w-full object-cover object-center cursor-pointer;
}

.header-sidebar {
  @apply flex items-center gap-7 lg:gap-14 2xl:gap-20 text-base lg:text-lg text-white text-opacity-70 font-secondary;
  & > li:hover {
    @apply text-white;
  }
}

.header-blur {
  @apply absolute bg-center bg-no-repeat w-[600px] h-[600px] rounded-full hidden xl:block pointer-events-none;
}

.badge {
  background-image: linear-gradient(to right, #63b8b1, #f99838);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.width-content {
  @apply max-w-[548px];
}

.about-background {
  @apply border-solid rounded-full flex justify-center items-center;
}

.transition-all {
  transition: all 300ms linear;
}

.overplay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  @apply block lg:hidden;
}

.cta-background-circle {
  background-image: linear-gradient(
    to bottom right,
    #a68950 0%,
    #bd7536 22.04%,
    #be4d66 60.69%,
    #8e3fa5 100%
  );
}

.newsletter-background {
  background-image: linear-gradient(
    180deg,
    rgba(199, 209, 255, 0.2) -2.33%,
    rgba(82, 102, 192, 0.148) 103.4%
  );
}

.footer-bottom-link {
  @apply text-white text-opacity-80 hover:text-primary50;
}

.blog-background {
  background-image: linear-gradient(180deg, #c1edff 0%, #d5eef9 100%);
}

.border-overplay {
  position: absolute;
  border: 1px solid rgb(255 255 255 / 0.2);
  transform: rotate(4deg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  user-select: none;
}

.icon-arrow {
  @apply w-8 h-8 text-third bg-tiny bg-opacity-20 hover:bg-opacity-70 p-2 rounded-full flex items-center justify-center transition-all cursor-pointer;
}

.slider {
  max-width: 1000px;
  position: relative;
  margin: 25px auto;
  &-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-height: 600px;
  }
  &-main {
    position: relative;
    display: flex;
    max-height: 100%;
    transition: all 0.3s linear;
  }
  &-item {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    flex: 1 0 100%;
    padding: 0 5px;
  }
}

@media screen and (max-width: 767.98px) {
  .header-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 25px;
    margin: 10px 0;
    border-radius: 16px;
    z-index: 50;
    transform: translateX(-100%);
    transition: all 0.5s ease-in;
    @apply bg-gradient-to-t from-primary50 to-primary200;
    &.is-expand {
      transform: translateX(0);
    }
  }
  .slider-item {
    align-items: start;
  }
}

@media screen and (min-width: 768px) {
  .header-top.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    padding: 0 64px;
    animation: fade 0.3s forwards 1;
    background-color: #0b0547;
  }
}

@media screen and (max-width: 1279.98px) {
  .slider {
    &-wrapper {
      max-height: unset;
      height: 100%;
    }
    &-item {
      flex-direction: column;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
